[Unit]
Description=MergerFS Mount
After=rclone-vfs.service
RequiresMountsFor=/xxxxx/yyyyy/gdrive/Local
RequiresMountsFor=/homexx/yyyyy/gdrive/Mount

[Service]
Type=forking
KillMode=none
ExecStart=/xxxxx/yyyyy/bin/mergerfs /xxxxx/yyyyy/gdrive/Local:/xxxxx/yyyyy/gdrive/Mount /xxxxx/yyyyy/MERGERFS -o rw,async_read=false,use_ino,allow_other,func.getattr=newest,category.action=all,category.create=ff,cache.files=partial,dropcacheonclose=true,threads=8
ExecStop=/bin/fusermount -uz /xxxxx/yyyyy/MERGERFS
Restart=on-failure

[Install]
WantedBy=default.target
